body{
    background: #24353f;
    font-family: 'Titillium Web', sans-serif !important;
}

.container{
    padding-left: 16%;
    padding-right: 16%;
}

.login{
    background-color: inherit;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

.login h1{
    color: #17a2b8;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.login input:placeholder-shown{
    color: white !important;
}

.login button{
    color: #17a2b8;
    background-color: transparent;
    border-color: #17a2b8;
}

.login button:hover{
    background-color: #17a2b8 !important;
    color: white !important;
}

.login p{
    line-height: 1.5;
}

